@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-blue{
    fill: white;
}

.icon-bg{
    background-color: #110F5E; /* Set background color */
    border: none; /* Remove border */
    padding: 8px; /* Add padding */
    border-radius: 4px; /* Add border radius */
    margin-right: 10px; /* Adjust margin as needed */
}